<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  thread-count="5">

	<listeners>
		<listener
			class-name="customListeners.ListenersImplementation"></listener>
	</listeners>

	<test name="Test_Desktop">
		<parameter name="Browsers" value="Firefox"></parameter>
		<parameter name="userName" value="gskprod11@aie.com"></parameter>
		<parameter name="passWord" value="test1234"></parameter>
		<classes>
			<class name="com.bmusa.TestCases.Desktop_AccountVerification" />
			<class name="com.bmusa.TestCases.Desktop_userAccountVerification" /> 
			<class name="com.bmusa.TestCases.Desktop_StoreandZipupdateVerification" /> 
			<class name="com.bmusa.TestCases.Desktop_SearchandBrowserVerification" /> 
			<class name="com.bmusa.TestCases.Desktop_cartfunctionalitiesVerification" />
		</classes>
	</test> <!-- Test -->

	<test name="Test_Mobile">
		<parameter name="Browsers" value="Firefox"></parameter>
		<parameter name="userName" value="gskprod12@aie.com"></parameter>
		<parameter name="passWord" value="test1234"></parameter>
		<classes>
			<class name="com.bmusa.TestCases.Mobile_AccountVerification" />
			<class name="com.bmusa.TestCases.Mobile_SearchandBrowserVerification" />
			<class name="com.bmusa.TestCases.Mobile_StoreandZipupdateVerification" />
			<class name="com.bmusa.TestCases.Mobile_userAccountVerification"/>
			<class name="com.bmusa.TestCases.Mobile_cartfunctionalitiesVerification"/>

		</classes>
	</test>
</suite> <!-- Suite -->
