<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">

	<listeners>
		<listener
			class-name="customListeners.ListenersImplementation"></listener>

	</listeners>


	<test name="Test">
		<parameter name="Browsers" value="Firefox"></parameter>
		<parameter name="userName" value="gskprod11@aie.com"></parameter>
		<parameter name="passWord" value="test1234"></parameter>
		
		


		<classes>

			<class name="TestCases.Login" />
			<class name="TestCases.userProfile" />
			<class name="TestCases.StoreLocator" />
			<class name="TestCases.searchandBrowse"/>
			<class name="TestCases.Cartfunctionality"/>
		</classes>
	</test> <!-- Test -->



</suite> <!-- Suite -->
